.App {
  background-size: cover;
  background-image: url(./assets/tomahawk.jpg);
  min-height: 100vh;
  display: flex;
  font-size: calc(5px + 2vmin);
  color: white;
  flex-direction: column;
  font-family: Avenir;
  padding: 25px;
}

.App-Title {
  text-align: center;
  font-size: calc(10px + 8vmin);
  font-weight: bold;
}

.App-Routes {
  padding: 20px;
}

.Router-Styling {
  text-align: center;
}